@import url(https://fonts.bunny.net/css?family=allura:400);


.body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;             
}

#barre{
    position: fixed;
    top: 0px;
    height: 60px;
    width: 100%;
    background: linear-gradient(to right,  rgb(0, 162, 255), yellow, orange);
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: allura;
    font-size: 2em;
    font-weight: bold;
    clear: right; 
}

#jeu{
    flex-direction: column;
}

#map {
    height: 90vh;                        
}

#inventaire{
    padding: 10px;
    margin: 10px;
}



/*@media (max-width: 600px) {
    #barre{
        height: 30px;
        width: 100%;
        font-size: 1em;
  }*/

