@import url(https://fonts.bunny.net/css?family=allura:400);

#pages_result{
    background-image: url("../img/resultats.jpg");
    background-size: cover;
}

#entete{
    display: flex;
    flex-direction: row-reverse;
}

#bilan {
    font-family: allura;
    font-size: 5em;
    margin-right: 22vw;
}

#presentation{
    text-align: center;
    color: floralwhite;
    background-color: rgba(0, 0, 0, 0.753);
    height: 60vh;
    margin-top: -5vh;
    margin-left: 20vw;
    margin-right: 20vw;
    padding-left: 20px;
    padding: 20px;
    border-radius: 5px;
    border: 3px floralwhite solid;
    font-family: calibri;
    font-size: x-large;
    font-weight: bold;
}

/***************style boutton***************/
#resultats{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    font-family: calibri;
    background-color: #ffffffba;
    border-radius: 10px;
    border: 4px double #000000;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 10vw;
}

#resultats:hover {
    background-color: #000000b7;
    border: 4px double #ffffff;
    color: #ffffff;
  }
