@import url(https://fonts.bunny.net/css?family=allura:400);

#pages_result{
    background-image: url("../img/image_accueil1.png");
    background-size: cover;
}

#titre {
    font-family: allura;
    font-size: 5em;
    text-align: center;
}

#presentation{
    color: floralwhite;
    background-color: rgb(65,100,90);
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px floralwhite solid;
    font-family: calibri;
    font-weight: bold;
}


#sortir{
    display: flex;
    flex-direction: row-reverse;
}

#retour{
    background-image: url("../img/retour.jpg");
}


